[Desktop Entry]
Encoding=UTF-8
Name=Growers
Comment=Growers P2P Cryptocurrency
Comment[fr]=Growers, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Growers, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/growers-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/growers;
Categories=Office;
